[version]
current = "3.0.1"

regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  (
    (?P<lifecycle>a|b|rc|\.post)
    (?P<release>\d+)
  )?
'''

[git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[file]]
src = "setup.cfg"
search = "version = {current_version}"

[[file]]
src = "enchant/__init__.py"
search = '__version__ = "{current_version}"'


[[after_push]]
name = "Publish release on pypi.org"
cmd = "tox -e release"
