name: linters

on:
  push:
    branches: [main]
    tags: v*
  pull_request:

jobs:
  run_linters:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.3

    - name: Set up Python
      uses: actions/setup-python@v2.3.1
      with:
        python-version: "3.10"

    - name: Install tox
      run: |
        pip install tox

    - name: Run linters
      run: |
        tox -e linters


