<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="{{ resource.meta.charset }}">
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

  <title>{% block page_title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="Author" content="Ryan Kelly" />
  <meta name="Copyright" content="2011, Ryan Kelly" />
  {% block page_meta %}{% endblock %}

  <!-- <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}"> -->

  {% block page_css %}
  <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}" type="text/css" media="screen, projector">
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}" type="text/css" media="screen, projector">
  <link rel="stylesheet" href="{{ media_url('css/blueprint/print.css') }}" type="text/css" media="print" /> 
  {% endblock page_css %}

</head>
<body id="page-{{ resource.meta.id if resource.meta.id else resource.slug }}">

  <div id="header">
  <div class="container">
  <div id="header-contents">
    <div id="logo-block">
      <div id="logo-text">PyEnchant</div>
      <div id="logo-tag">a spellchecking library for Python</div>
    </div>
    &nbsp;
{% if menu -%}
    <ul id="nav-menu">
        {% for item in menu -%}
        {% if item.name.lower() == "home" %}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) %}
        {% else %}
          {% set active = resource.url.startswith(item.name.lower()) %}
        {% endif %}
        <li {% if active %} class="selected" {% endif %}>
            <a title="{{ item.description }}"
                href="{{ full_url(item.url) }}">
                {{ item.name }}</a>
            
        </li>
        {%- endfor %}
    </ul>
{%- endif %}

  </div>
  </div>
  <div id="header-bottom">&nbsp;</div>
  </div>


  <div id="content-block" class="container">
  <div id="content-sizer" class="column span-24">

  <div id="content" class="column span-18 colborder">
  {% block page_content %} Content goes here. {% endblock %}
  </div>

  <div id="sidebar" class="column span-5 last">
   {% block page_sidebar %}

   <p>PyEnchant is written and maintained by <a href="http://www.rfk.id.au/">Ryan Kelly</a></p>

   <p>Need help?  Try the:</p>
   <ul>
   <li><a href="/pyenchant/faq.html">FAQ</a></li>
   <li><a href="http://groups.google.com/group/pyenchant-users">mailing list</a></li>
   <li><a href="https://github.com/rfk/pyenchant/issues">bug tracker</a></li>
   </ul>

   <br /><hr /><br />

   <p>Like PyEnchant? <br /> Show your support:</p>

    <div id="twitter_share">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="rfkelly">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>

    <div id="flattr_share">
    <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://packages.python.org/pyenchant/"></a>
    <noscript><a href="http://flattr.com/thing/285929/PyEnchant" target="_blank">
    <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
    </div>


   {% endblock %}
  </div>

  </div>
  </div>


  <!--  use google-CDNed jQuery if possible, fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>

  <!-- activate google analytics -->
   <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17899119-2']);
    _gaq.push(['_trackPageview']);
    (function() {
       var ga = document.createElement('script');
       ga.type = 'text/javascript';
       ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
     })();
   </script>

  <!-- activate flattr -->
   <script type="text/javascript">
   /* <![CDATA[ */
       (function() {
           var s = document.createElement('script');
           var t = document.getElementsByTagName('script')[0];
           s.type = 'text/javascript';
           s.async = true;
           s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
           t.parentNode.insertBefore(s, t);
       })();
   /* ]]> */
   </script>

 {% block page_js_extra %}
 {% endblock %}

</body>
</html>
