
{% macro render_entry_header(res, class=None) %}
<div class="blog-entry-header">
<div class="blog-entry-details">
  <div>{{ res.meta.created.strftime('%a, %d %b %Y') }}</div>
  <div>{% for tag in res.meta.tags %}
    <span>[<a href="/blog/entries/{{ tag }}.html">{{ tag }}</a>]</span>
  {% endfor %}</div>
</div>
<h2><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h2>
{% if res.meta.subtitle %}
<h3>{{ res.meta.subtitle }}</h3>
{% endif %}
</div>
{% endmacro %}


{% macro render_excerpt(res, class=None) %}
{{ render_entry_header(res) }}
{% refer to res.url as post %}
{% if post.excerpt %}
{{ post.excerpt }}
<p><a href="{{ content_url(res.url) }}">Continue reading...</a></p>
{% else %}
{{ post.noexcerpt }}
{% endif %}
{% endmacro %}


{% macro render_post(res, class=None) %}
{{ render_entry_header(res) }}
{% refer to res.url as post %}
{{ post }}
{% endmacro %}

